body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #16963d;
  text-align: center;
}
h4 {
  color: #4ab122b2;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}
a {
  padding-left: 20px;
}
